header{
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}
.container{
    text-align: center;
    height: 100%;
    position: relative;
}
.cta{
    /* margin-top: 2.5rem; */
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}
.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: '';
    height:2rem ;
    /* width:1px ; */
    width:3px ;
    background: var(--color-primary);
}
/* me */
.me{
background: var(--color-primary);
width: 22rem;
height: 30rem;
position: absolute;
left: calc(50%-111rem);
margin-top: 4rem;
margin-left: 380px;
border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 4.5rem 1.5rem 1.5rem 1.5rem;
}
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
    .header__socials, .scroll__down {
        display: none;
    }
}

/* a{
    color: var(--color-primary);
    transition:var(--transition);
  }
  
  a:hover{
    color: var(--color-white);
  }

.btn{
    width: max-content;
    color: var(--color-primary);
    display: inline-block;
    padding: 0.7rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    color: solid 1px var(--color-primary);
    transition: var(--transition);
  }
  .btn-primary{
    background: var(--color-primary);
    color: var(--color-bg);
  }
   */