.react-activity-calendar{

    padding: auto;
    margin: 50px;
     display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
#github-streak-stats{
     padding: auto;
    margin: 50px;
     display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}